#root {
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Corrección de scroll horizontal */
html, body {
  width: 100%;
  overflow-x: hidden;
}

/* Ajuste visual del carrusel */
.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.carousel-caption {
  background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0));
  padding: 1rem;
  border-radius: 0.5rem;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%; /* ajusta el área de click */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* fondo negro translúcido */
  border-radius: 50%;
  padding: 1rem;
}